$product-width: 20rem;
$product-shadow: 0 0 24px 0 rgba(66, 68, 90, 1);
$img-shadow: 0 0 1rem 0 rgba(66, 68, 90, 1);

body {
  width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background-color: rgb(196, 142, 231);
}

.products-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.product-card {
  background-color: rgb(191, 240, 255);
  width: $product-width;
  height: $product-width * 1.5;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
  -webkit-box-shadow: $product-shadow;
  -moz-box-shadow: $product-shadow;
  box-shadow: $product-shadow;
  overflow: hidden;

/* Hide scrollbar for Chrome, Safari and Opera */
> .image-background::-webkit-scrollbar {
    display: none;
  }

  > .image-background {
    width: 100%;
    height: $product-width * 1.1;
    background-color: rgb(37, 37, 37);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    box-shadow: $img-shadow;
    border-radius: 8px;

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    img {
      width: 100%;
    }
  }

  text-align: center;
}
